---
layout: base.njk
title: timezones
---
<div class="prose">
  <marquee>IN PROGRESS</marquee>
  <h1>The time where you are</h1>
  <p>
    Some countries have more than one timezone, but you can go directly to the timezone you are interested in (or look at your watch).
  </p>
  <ul>
  {% for zone in timezones %}
    <li><a href="/{{ zone.location }}">{{ zone.location }}</a></li>
  {% endfor %}
  </ul>
</div>


