---
layout: base.njk
title: Why make this?
---
<div class="prose">
  <marquee>IN PROGRESS</marquee>
  <h2>Easy, automated deploys</h2>
  <p>
    This site is made of static HTML. There is no javascript running to detect the time in your timezone and to display it to you.
  </p>
  <h2>Localization via the CDN</h2>
  <p>
    When you access this site, the CDN notices where in the world you are, and if a route has been generated for your country, it will automatically serve you that page. There <a href="/timezones">isn't a comprehensive list</a>, but you can always extend it with a <a href="{{ pkg.repository.url }}">pull request</a>!
  </p>
</div>



